{% extends "base.html" %}

{% block content %}

<h1 class="display-4 text-center font-weight-bold text-primary"> Configurations </h1>

{% for form in forms %}

<div class="container border border-dark">

    <div class="col justify-content-center">
        <div class="row">
            <h1 class="mx-auto mt-2">{{form.CommonName()}}</h1>
        </div>

        <form class="row justify-content-center" action="" method="post">
            {{form.csrf_token}}
            {% for field in form %}

            <div class="mt-3 mx-4 w-75 text-center">
                {% if field.type != "SubmitField" and field.name != "csrf_token"%}
                <label class="form-label mb-1 font-weight-bold">{{field.label}}</label>
                {{field(class="form-control")}}
                {% if field.errors %}
                <ul class="errors">
                    {% for error in field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% elif field.type == "SubmitField" %}
                {{field(class ="btn btn-primary my-3 mx-auto")}}
                {% endif %}
            </div>

            {% endfor %}
        </form>
    </div>
</div>
{% endfor %}



{% endblock %}
