{% extends "base.html" %}

{% block content %}

    <h1 class="display-4 text-center"> Configurations </h1>

    {% for form in forms  %}

        <div class="container border border-dark">
            <div class="row">
                <h2 class="mx-auto mt-2">{{form.CommonName()}}</h2>
            </div>

            <form>
                {{form.csrf_token}}
                {% for field in form %}
                
                    {% if field.type != "SubmitField" and field.name != "csrf_token"%}
                        <div class="row mt-3 mx-4 w-50">
                            <label class="form-label mb-1">{{field.label}}</label>
                            {{field(class="form-control")}}
                            {% if field.errors %}
                                <ul class="errors">
                                    {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    {% elif field.type == "SubmitField" %}
                        <div class="row mt-4">
                            {{field(class ="btn btn-primary my-3 mx-auto")}}
                        </div>
                    {% endif %}
                    
                {% endfor %} 
            </form>

        </div>
    {% endfor %}



{% endblock %}