{% extends "base.html" %}

{% block content %}

    <h1 class="display-4 text-center"> Configurations </h1>

    {% for key, value in config.items()  %}

        <div class="container border border-dark">
            <div class="row">
                <h2 class="mx-auto mt-2">{{value.CommonName()}}</h2>
            </div>

            <form>
                {% for attribute in value.__dict__.keys() %}

                    <div class="row mt-3 mx-4">
                        <label for="input_{{attribute}}" class="form-label">{{attribute}}</label>
                        <input type="text" class="form-control" id="input_{{attribute}}" value="{{value[attribute]}}">
                    </div>
                    
                {% endfor %}
                <div class="row">
                    <button type="submit" class="btn btn-primary my-3 mx-auto">Save</button>
                </div>  
            </form>

        </div>
    {% endfor %}



{% endblock %}